@{
    ViewBag.Title = "Contactos";
}

@{
    ViewBag.Message = "Personal de la Clinica";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Bryan Enríquez Jiménez<br />
        Esteban Sanarrucia Molina<br />
        Ronald Calderón Barrantes<br />
        Sebastián Cordero Villalobos

    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:Support@example.com">soporte@saludintegral.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@saludintegral.com</a>
    </address>
</main>